<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find my_gurdy_description)/launch/spawn_urdf_gazebo.launch">
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="urdf_robot_file" value="$(find my_gurdy_description)/urdf/B_gurdy_col_iner.urdf"/>
        <arg name="robot_name" value="gurdy"/>
    </include>

</launch>